/*主版css會蓋過去，所以寫在那裏了!*/
.griditem {   
    height: 305px;
    width: 240px;
    display: inline-block;
    margin: 3px 7px;
    overflow: hidden;
    position: relative;/*相對div才能分開排，不會被絕對定位*/
    left: 10px;/**/
    top: 0px;"
    float: left;

}
.mainimg {
    display:block;
    position: absolute;
    left:0;
    top:0;
    cursor: pointer;
}