/*以下為reset*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body{ font-family:"Microsoft Yahei", "微軟正黑體", Tahoma, Arial, sans-serif}

.content{ width:744px; margin:50px auto}
.btm{ margin:30px auto}
.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center}*/
/*reset結束*/



/*index content*/
/*da-thumbs是ul*/
/*.da-thumbs{
	list-style:none;
	height:118px;
	position:relative;
	margin:0 0 25px 0;
	padding:0}*/
.da-thumbs li{
	float:left;
	/*margin-right:12px;*/
	/*background:#fff;*/
	/*position:relative;*/
	/*border:2px solid #fafafa*/
}
/*------------圖片大小這裡決定----------------*/
.da-thumbs li a,
.da-thumbs li a img{
	
	display:block;
	position:relative;
	/*width:200px;
	height:150px;*/
	}
.da-thumbs li a{
	/*color:#fff;*/
	overflow:hidden
}
/*---------hover色塊-----------*/
/*.da-thumbs li a div{
	position:absolute;
	background:#EC0000;
	opacity:.5;
	filter:alpha(Opacity=90);
	width:100%;
	height:100%
	}*/
.hot_info{
	position:absolute;
	opacity:.8;
	filter:alpha(Opacity=90);
	background-color: #000;
	width:100%;
	height:100%
}
.hot_info p{
	padding: 0 20px;
	top: 30%;
	position: absolute;
	opacity: 1;
}
.metal{ background-color: #e6b422;}
.wood{ background-color: #f38b18;}
.glass{ background-color: #057298;}
.ceramics{ background-color: #03afae;}
.leather{ background-color: #eb8477;}
/*---------------hover色塊結束----------*/

/*其他文章設定*/
/*.da-thumbs li a em{
	display:block;
	width:92px;
	height:8px;
	background:rgba(255,255,255,0.3);
	*background:#fff;
	background:#fff\0;
	filter:alpha(Opacity=30);
	margin:0 10px
}*/
/*.da-thumbs li a h2{ 
	font-size:20px;
	margin:6px 8px;
	font-weight:normal;
	text-align:center
	}*/
.da-thumbs li a p{
	color:#FFF;
	margin:8px 13px;
	font:normal 14px/18px 'Microsoft YaHei';
	}
/*
.da-thumbs li.subscribe h2{
	font-size:33px;
	line-height:36px;
	margin:0;
	text-align:center; 
	}
.da-thumbs li.subscribe h2 span{
	font-size:16px; 
	float:right; 
	margin-right:5px; 
	line-height:30px
	}
	*/